# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
.venv_mp3/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
